@import "_colors.scss";
body {
  margin-top:10vh
}
#landingimg1{
    width: 100%;
}
/* Container needed to position the button. Adjust the width as needed */
.box {
  position: relative;
  width: 100%;
}
/* Make the image responsive */
.box img {
  width: 100%;
  height: auto;
}
/* Style the button and place it in the middle of the container/image */
.box .btn {
  position: absolute;
  top: 85%;
  left: 85%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: $white;
  background-color: $darkgreen;
  font-size: 16px;
  padding: 4px 4px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.container .btn:hover {
  background-color: black;
}

#diagram{
    width: 100%;
}


#frame {
    position: relative;
    width: 100%;
    height: 35rem;
    background-image: url(/landingHorizontalBackground.jpg);
    background-position: center;
    background-size: cover;
    margin-top:-3rem;
}

#myImg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 11rem;
    display: block;
    margin: auto;
    height: 12rem;
}

#agricultor,  #hierbaTelefono{
    width:100%
}

#downArrow{
    width:70%
}

#receiving{
    width:180%;
    margin-left:-3rem;
}


@media screen and (min-width: 1051px) {
.container-fluid{
    padding-left:25vh !important;
    padding-right:25vh !important;
}
.mobileDiagramDiv{
    display:none;
}

#diagramtext1{
     font-weight: bold;
     float:right;
    
}

.diagramtext2{
 font-weight: bold;

}
#diagramtext3{
   float:left;
     font-weight: bold;

}
    }

    
@media screen and (max-width: 1050px) {

#diagramMobile{
width:100%;
}

.diagramtext1{
margin:auto;
    font-weight: bold;
}
.diagramtext2{
margin:auto;
    font-weight: bold;
}
.diagramtext3{
    margin:auto;
    font-weight: bold;
}

.diagramDiv{
    display:none;
}

#frame {
position: relative;
    width: 100%;
    height: 9rem;
    background-image: url(/landingHorizontalBackground.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 4rem;
    margin-bottom:2rem;
}

#myImg {
    position: absolute;
    left: 0;
    top: 1rem;
    right: 0;
    bottom: 8.5rem;
    display: block;
    margin: auto;
    height: 4.5rem;
}

    }
