@import "_colors.scss";

.btn-success {
  background-color: $darkgreen;
  border-color:$darkgreen;
}

 .btn-success:hover, .btn-success:active:focus{
  background-color: $darkgreen;
 }

 .link {
  color:$green;
}
.link:hover, .btn-success:active:focus {
   color: $darkgreen
}